.clearfix{class: friend.intention_class}[friend]
  .pull-right
    .inline-middle
      = friend.button_to_intention 'love', :class => 'btn-danger' do
        %span.glyphicon.glyphicon-heart-empty
        = t('.lovers_html')
    .inline-middle
      = friend.button_to_intention nil, :class => 'btn-primary' do
        %span.glyphicon.glyphicon-thumbs-up
        = t('.friends_html')
  .pull-left
    = friend.user.badge
