.jumbotron
  %h2= t('.title_html')
  %h3= t('.subtitle_html')
  %h1 ;)
  %br
  %p.lead= t('.intro_html')
  %ul
    %li= t('.key_point.a')
    %li= t('.key_point.b')
    %li= t('.key_point.c')
    %li= t('.key_point.d')
