.jumbotron
  %h2= t('.title_html')
  %h3= t('.subtitle_html')
  %h1 ;)
  %br
  %p.lead= t('.intro_html')
  %ol
    - t('.key_point').each_key do |k|
      %li= t(".key_point.#{k}")
  = link_to t('layouts.navigation.login'), signin_path, class: "btn btn-primary btn-lg btn-danger"
