%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#header-navbar-collapse'}}
        %span.sr-only= t('.toggle_nav')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('.brand'), root_path, :class => 'navbar-brand'
    .collapse.navbar-collapse#header-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = t('.logged_in')
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header= t('.friends_fetched_at', when: time_ago_in_words(current_user.friends_fetched_at.in_time_zone))
              %li= link_to t('.logout'), signout_path
        - else
          %li= link_to t('.login'), signin_path
