%nav.navbar.navbar-inverse.navbar-fixed-top#nav
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#header-navbar-collapse'}}
        %span.sr-only= t('.toggle_nav')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('.brand_html'), '#', :onclick => 'location.reload()', :class => 'navbar-brand'
    .collapse.navbar-collapse.navbar-right#header-navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = t('.logged_in')
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('.logout'), signout_path
        - else
          %li= link_to t('.login'), signin_path
    - if user_signed_in?
      %form.navbar-form.navbar-right.search{role: 'search'}
        .form-group.has-feedback
          %input.form-control{type: 'search', placeholder: t('.search')}
          %span.glyphicon.glyphicon-remove.form-control-feedback.clear-btn
