%nav.navbar.navbar-inverse.navbar-fixed-top#nav
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#header-navbar-collapse'}}
        %span.sr-only= t('.toggle_nav')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, :class => 'navbar-brand' do
        = t('.brand_html')
    .collapse.navbar-collapse.navbar-right#header-navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = t('.logged_in')
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to signout_path do
                  = t('.logout')
        - else
          %li
            = link_to signin_path do
              = t('.login')
    - if user_signed_in?
      %form.navbar-form.navbar-right.search{role: 'search'}
        .form-group.has-feedback
          %input.form-control{type: 'search', placeholder: t('.search')}
          %span.glyphicon.glyphicon-remove.form-control-feedback.clear-btn
