!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title= content_for?(:title) ? yield(:title) : t('.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : t('.description')}
    %link{rel: 'image_src', href: image_url('crush-image_src-250x125.jpg')}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if defined? PusherFake
      = javascript_tag File.read Dir.glob(File.expand_path 'spec/support/application/public/javascripts/vendor/pusher-2.*.js', Bundler.load.specs.find{|s| s.name == 'pusher-fake' }.full_gem_path).last
    - else  # NOTE Since Pusher is not really useful with no connection... let's CDN it
      %script{:src => "//js.pusher.com/2.0/pusher.min.js", :defer => true}
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main.container-fluid.initially-hidden
      = yield
    %footer
      %small.copyright= t('.version', version: APP_VERSION)
      |
      = link_to_unless_current t('.terms_link'), terms_path  # NOTE stupid link_to_unless_current
    #flash= render 'layouts/messages'

    :coffeescript
      I18n.defaultLocale = #{I18n.default_locale.to_json}
      I18n.locale =  #{I18n.locale.to_json};
